<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Kernel">
            <directory suffix="Test.php">./tests/Kernel</directory>
        </testsuite>
        <testsuite name="Entity">
            <directory suffix="Test.php">./tests/Entity</directory>
        </testsuite>
        <testsuite name="Http">
            <directory suffix="Test.php">./tests/Http</directory>
        </testsuite>
        <testsuite name="Event">
            <directory suffix="Test.php">./tests/Event</directory>
        </testsuite>
        <testsuite name="Handler">
            <directory suffix="Test.php">./tests/Handler</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
